.singlePost {
    border: 1px solid black;
    width: 800px;
    margin-bottom: 10px;
    background-color: #1A1A1B;
    border-radius: 6px;
    border: 1px solid gray
}

.postTitle {
    margin-left: 10px;
    margin-top: 0px;
    width: 780px;
    height: fit-content;
    overflow-wrap: break-word;
}

.commPoster {
    display: inline-flex;
    justify-content: space-between;
    width: 780px;
    padding: 0px 10px 0px 10px
}

.postComm {
    padding-left: 10px;
}

.postComm:hover {
    text-decoration: underline;
    color: white
}

.postBody {
    margin: 10px 10px 10px 10px;
    width: 790px;
    height: fit-content;
    overflow-wrap: break-word;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainpage {
    display: flex;
    justify-content: center;
}

.sideHome {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 300px
}

.sideMain {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: fixed;
    top: 0;
    margin-top: 84px;
}

.sideMainWrapper {
    margin-right: 200px;
    margin-top: 20px;
    z-index: 0;
    display: flex;
    flex-direction: row-reverse;
    /* Ensure it's above other content */
}

.devHome {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-left: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1B;
    border: 1px solid gray;
    border-radius: 6px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.awsImg {
    width: 800px;
    height: 600px;
    border-radius: 6px;
}

.posts {
    margin-top: 10px
}

.createPostText {
    display: inline-flex;
    background-color: #1A1A1B;
    width: 800px;
    height: 70px;
    border-radius: 6px;
    align-items: center;
    border: 1px solid gray;
}

#createPostIcon {
    font-size: 50px;
    margin-left: 6px
}

.emptyBox {
    margin-left: 10px;
    width: 720px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: #3A3C3D;
}

.emptyBox:hover {
    cursor: text;
}

.cpostText {
    font-size: 20px;
    margin: 0px;
    padding: 15px;
}

.sideHome {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-left: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1B;
    border: 1px solid gray;
    border-radius: 6px;
    padding-bottom: 10px;
}

.side2 {
    padding-left: 15px
}

.sideCreate {
    padding: 10px 10px 10px 10px;
    width: 250px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.sideCreate:hover {
    cursor: pointer;
    background-color: #E4E3E1;
}

button {
    padding: 10px 10px 10px 10px;
    width: 250px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background-color: #E4E3E1;
}

.github:hover {
    text-decoration: underline;
}

.postRules {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #1A1A1B;
    padding: 10px 15px 10px 0px;
    margin-left: 20px;
    margin-top: 20px;

}

.rules {
    display: flex;
    justify-content: center;
}

.createPost {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    width: 300px;
    margin-left: 50px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.communitiesSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #1A1A1B;
    height: fit-content;
    gap: 5px;
    padding-bottom: 5px;
}

.commlink {
    color: white;
    margin-bottom: 5px;
}

.commlink:hover {
    text-decoration: underline;
}

.sideCreate {
    background-color: darkgray;
    color: black
}

.sideCreate:hover {
    background-color: #3A393B;
    color: white;
}
