.communitymodalcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #1A1A1B;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 10px 10px 10px 10px
}

#modal-content {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.cac {
    margin: 0px
}

.communityform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px
}

.communityName {
    width: 250px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.communityDescription {
    width: 250px;
    height: 75px;
    padding: 5px 5px 5px 5px;
}
