.mystuffpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs {
    display: flex;
    gap: 60px;
    padding-bottom: 16px
}

 .postsTab {
    background-color: orange;
}

.postsTab:hover {
    background-color: darkorange;
}

.noneYet {
    display: flex;
    justify-content: center;
}

.communityButtons {
    display: flex;
    gap: 20px
}

.singleCommunity {
    background-color: #1A1A1B;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}