.profile-dropdown {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 1px solid gray;
  border-radius: 8px;
  padding-right: 20px;
  right: 0;
  left: auto;
  background-color: #1A1A1B;
  width: fit-content;
  padding: 0px;
  height: 125px;
  padding: 15px 15px 15px 15px;
}
.dropdownBox {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdownul {
  padding: 0px
}
.dropdownulButton {
  padding: 0px;
}

.nav {
  display: inline-flex;
  border-bottom: 1px solid black;
  width: 100%;
  justify-content: space-between;
  margin-top: 0px;
  background-color: #1A1A1B;
  padding-left: 0px;
  align-items: center;
  height: fit-content;
  padding: 10px 0px 10px 0px;
}

.pbutton {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;

}

#proficon {
  padding-right: 5px;
}

.homelink {
  font-size: 40px;
  color: #FF8800;
  padding-left: 20px;
}
.homelink-disabled {
  font-size: 40px;
  color: orange;
  padding-left: 20px;
}

.homelink-disabled:hover {
  cursor: pointer;
}

.menuButton {
  padding-right: 20px;
}